<a href="https://colab.research.google.com/github/jellymj0922/radiant/blob/main/conv2d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
(독립, 종속),_=tf.keras.datasets.mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step

In [3]:
print(독립.shape, 종속.shape)
독립 = 독립.reshape(60000, 28, 28, 1) #3차로 만들기
종속 = pd.get_dummies(종속) #원핫인코딩
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [4]:
x=tf.keras.layers.Input(shape=[28,28,1])
h=tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(x) #3장 쌓자
h=tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(h)
#3,6=필터셋을 몇 개 사용할 것인가, kernelsize필터셋의 사이즈를 얼마로 할것인가
h=tf.keras.layers.Flatten()(h) #한줄로 펴서 표 형태로 바꾸자
h=tf.keras.layers.Dense(84, activation='swish')(h)
y=tf.keras.layers.Dense(10, activation='softmax')(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [5]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 38s 3ms/step - loss: 0.4292 - accuracy: 0.9343
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0997 - accuracy: 0.9737
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0680 - accuracy: 0.9820
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0551 - accuracy: 0.9851
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0419 - accuracy: 0.9890
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0343 - accuracy: 0.9910
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0309 - accuracy: 0.9918
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0285 - accuracy: 0.9928
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0248 - accuracy: 0.9938
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0247 - accuracy: 0.9937

In [6]:
pred=model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [7]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________